.contenido{
    background-color: rgb(224, 206, 42);
    text-align: justify;
    padding:5%;

}




.logo {
    width: 100px; 
    display: block; 
    margin: 0 auto; 
  }



  ion-content {
    background-color: white;
  }