<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>










  <ion-card class="contenido">
    <img src="assets/Duoc UC.jpg" class="ion-padding">
    <ion-card-header>
      <ion-card-title class="titulo">Duoc US</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-footer>
    <ion-button expand="full" fill="outline" routerLink="/login" color="primary">Ir a login</ion-button>
    <ion-button expand="full" fill="outline" routerLink="/registro" color="primary">Ir a registrarse</ion-button>
  </ion-footer>




</ion-content>
